::selection {
  background-color: rgb(255, 202, 99);
  color: white;
}

a {
  margin: 1rem;
  line-height: 2rem;
  text-decoration: none;
  color: rgb(255, 165, 48);
}

a:hover {
  color: rgb(255, 224, 184);
  opacity: 0.75;
}

body {
  font-family: 'Cabin';
  padding: 0;
  margin: 0;
}

figcaption {
  margin-left: 1rem;
  padding-left: 1rem;
  color: rgb(92, 77, 61);
  font-size: 0.75rem;
}

h1, h2, h3, h4 {
  font-family: 'Bitter';
  margin: 1rem;
}

h1 {
  color: rgb(255, 64, 0);
}

h2 {
  color: rgb(232, 89, 7);
}

h3, h4 {
  color: rgb(237, 165, 21);
}

img {
  width: 85%;
  margin: 1rem;
  padding: 1rem;
}

p {
  max-width: 80%;
  line-height: 2rem;
  margin: 1rem;
}

svg {
  margin: 1rem;
}

.box {
  margin-bottom: 1em;
}

.nav {
  top: 0;
  position: fixed;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: white;
}

.nav a {
  margin: 0;
  padding: 1rem;
  display: block;
  text-align: center;
  float: left;
  background-color: white;
  color: rgb(255, 165, 48);
}

.nav .active {
  background-color: rgb(255, 165, 48);
  color: white;
}

.nav a:hover {
  background-color: rgb(255, 165, 48);
  color: white;
}

.project-container {
  display: flex;
}

.project-container a {
  text-align: center;
}

.project-container img{
  width: 20rem;
}
