@font-face {
  font-family: 'Arimo';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Arimo/Arimo-Regular.ttf');
}

@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Bitter/Bitter-Regular.ttf');
}

@font-face {
  font-family: 'Cabin';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Cabin/Cabin-Medium.ttf');
}
