* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  margin-top: 5rem;
}

.container .box {
  flex-grow: 1;
  flex-basis: 100%;
  /* padding: 1rem; */
}

.gallery {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.gallery .galleryImg .link-box {
  flex-grow: 1;
  flex-basis: 100%;
}

@media only screen and (max-width: 600px) {
  body{
    margin: auto;
    padding: 0;
  }

  nav {
    padding: 0;
    margin: auto;
    width: 100%;
    flex-direction: column;
  }

  .nav a {
    display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
    align-self: flex-end;
  }

  .nav.responsive a.icon {
    position: relative;
    display: block;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }

  .container .gallery {
    margin-top: 5rem;
    display: flex;
    flex-flow: column wrap;
  }

  .container .box {
    flex-basis: 100%;
    /* margin: 1rem;
    padding: 1rem; */
  }

  .gallery .galleryImg {
    flex-basis: 100%;
    /* padding: 1rem; */
  }

  .gallery .link-box {
    flex-basis: 100%;
  }

  .links a {
    font-size: 2em;
  }
}

@media only screen and (min-width: 600px) {


  .container .gallery {
    margin-top: 5rem;
  }

  .container .box  {
    flex-basis: 33.333%;
    
  }

  .gallery .galleryImg {
    flex-basis: 33.333%;
  }

  .gallery .link-box {
    flex-basis: 100%;
  }

}

@media only screen and (min-width: 992px) {

  .container .gallery {
    margin: auto;
    width: 100%;
    /* margin: 1rem;
    padding: 1rem;
    margin-top: 5rem;  */
  }

  .container .box {
    flex-basis: 20%;
  }

  .gallery .galleryImg {
    flex-basis: 20%;
  }
  
  .gallery .link-box {
    flex-basis: 50%;
  }

}
