//fonts
$bodyFont: 'Roboto';
$headerFont: 'Young Serif';
$subheaderFont: 'Coolvetica';
// $navFont: 'Plastun';

//colours
$red: rgb(255, 132, 132);
$orange: rgb(255, 202, 151);
$offBlack: rgb(66, 66, 66);
$yellow: rgb(255, 216, 89);
$white: rgb(244, 244, 244);
$blue: rgb(138, 238, 221);

//mixins
@mixin headerText {
    font-family: $headerFont;
    letter-spacing: .25rem;
}

@mixin bodyText {
    font-family: $bodyFont;
}

@mixin text-style {
    line-height: 3rem;
    margin: 1rem;
}

@mixin margins {
    margin: 1rem;
    padding: 1rem;
}

@mixin noMargins {
    margin: 0;
    padding: 0;
}

nav {
    // font-family: $navFont;
    position: fixed;
    display: flex;
    overflow: hidden;
    border: none;
    z-index: 1;
    background-color: $white;
    top: 0;
    // padding: 1rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    font-size: 3.5em;
    width: 100%;

    a {
        @include text-style;
    }
}

nav .icon {
    display: none;
}

.active {
    color: $orange;
}

body {
    @include bodyText;
    // @include margins;
    // @include text-style;
    background-color: $white;
    color: $offBlack;
}

em {
    font-weight: bolder;
    font-style: normal;
}

a {
    text-decoration: none;
    color: $offBlack;
    font-weight: bold;
    // @include text-style;

    &:hover {
        color: $red;
        // font-size: larger;
        // opacity: 0.5;
        transition: 0.3s;
    }
}

::selection {
    background-color: $red;
    color: white;
}

ul {
    @include margins;
    @include text-style;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;
    // padding: 0;
}

h2 {
    @include text-style;
    // @include margins;
    font-family: $subheaderFont;
}

h3 {
    @include margins;
    font-family: $subheaderFont;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
}

h4 {
    @include margins;
    font-family: $bodyFont;
}

h1 {
    @include headerText;
    @include margins;
    font-size: 5rem;
    color: $offBlack;
}

p {
    @include margins;
    @include text-style;
    font-size: 1.5rem;
    padding-top: 1rem;
}

figcaption {
    @include text-style;
    font-size: 1rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

figure {
    display: flex;
    flex-flow: column;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
    // @include margins;

    & a {
        text-decoration: none;
        font-size: 3em;
        color: $offBlack;
        font-weight: bold;
        @include text-style;

        &:hover {
            color: $red;
            // opacity: 0.5;
            transition: 0.3s;
        }
    }
}

.contact {

    a {
        text-decoration: underline;
        margin: 1rem;
        padding: 0;
    }
}

img {
    max-width: 95%;
}

.selfimg {
    max-width: auto;
    @include margins;
}

.myImages {
    margin-bottom: 1rem;
}

// .gallery {
//     // margin-top: 6rem;
//     // display: flex;
//     // flex-flow: row wrap;
//     // padding: 0;

//     // & .galleryImg{
//     //     flex: 20%;
//     //     max-width: 30%;
//     // }

//     & img{
//         align-self: flex-start;
//         width: 100%;
//         margin: 0;
//         // padding: .5rem;
//     }
//   }

.link-box {

    position: relative;
    width: 50%;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    & :hover {
        opacity: 1;
    }

    & .opacity {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $yellow;
}

.linkText {
    color: $white;
    font-family: $subheaderFont;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.centredText {
    text-align: center;
    padding-bottom: 5rem;
}

iframe {
    width: 100%;
    height: 50rem;
    padding: 1rem;
}