@font-face {
  /* font from: https://fonts.google.com/specimen/Roboto+Mono */
  font-family: Roboto Mono;
  src: url("fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}

body {
  font-family: Roboto Mono, Courier New, monospace;
  color: rgb(45,45,45);
  background-image: url("img/backgroundimg.png");
  margin: 0.25rem;
  /* float: right; */
  position: static;
  font-size: 0.7rem;
  padding-bottom: 5rem;
}

#header {
  /* background-image: url(headerbg.png); */
  color: rgb(62, 75, 79);
  background-color: rgb(252, 253, 255);
  padding: 1rem;
  /* box-shadow: 0.25rem 0.25rem 0.25rem rgba(45,45,45,0.2); */
  max-width: 15rem;
  float: left;
  position: fixed;
  left: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  border: groove;
  border-width: 0.05rem 0.05rem 0.05rem 0.05rem;
  border-color: rgb(232, 232, 232);
}

#gallery {
  margin-left: 5rem;
  line-height: 2em;
  padding-top: 12rem;
  max-width: 100%;
}

#info {
  margin-left: 5rem;
  line-height: 2em;
  padding-top: 12rem;
  max-width: 75%;
}

#main {
  float: left;
  /* padding-top: 5rem; */
  margin-left: 10rem;
  height: 100%;
}

#title {
  padding-top: 10rem;
  max-width: 75%;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
}

h2 {
  font-size: 1.5rem;
  margin-left: 2rem;
}

h3 {
  font-size: 1.25rem;
  color: rgb(81, 89, 92);
}

blockquote {
  color: rgb(72, 111, 117);
}

.proj-nav{
  font-size: 1.25rem;
  color: rgb(26, 39, 58);
  background-color: rgba(162, 186, 229, 0.25);
  /* margin-left: 3.5rem; */
  max-width: 50%;
  padding-left: 1.5rem;
}

.proj-nav:hover {
  background-color: rgb(179, 255, 252);
  /* color: rgb(255, 255, 255); */
  transition: background-color 0.75s;
}

h4 {
  text-indent: 3rem;
}

::selection {
  background-color: rgb(45,45,45);
  color: white;
}

img {
  max-width: 100%;
  width: auto;
  height: 20rem;
}

figure {
  float: left;
  /* margin-left: 7rem; */
  margin-bottom: 2rem;
}

figcaption {
  font-weight: bold;
  font-size: 0.75rem;
}

img {
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

a {
  color: rgb(96, 120, 128);
  text-decoration: none;
  transition: color 0.75s, opacity 0.75s;
}

a:hover, a:active, a:focus {
  color: rgb(162, 186, 229);
  opacity: 0.5;
}

table {
  font-size: 0.75rem;
  width: 80%;
  margin-left: 5rem;
}

th{
  background-color: rgb(81, 81, 81);
  color: rgb(239, 239, 239);
  font-weight: bolder;
  height: 1.5rem;
  padding: 0.5rem;
  transition: background-color 0.75s;
}

td {
  background-color: rgb(183, 183, 183);
  color: rgb(239, 239, 239);
  height: 2rem;
  padding: 0.5rem;
  transition: background-color 0.75s;
}

th:hover {
  background-color: rgb(22, 22, 22);
}

td:hover {
  background-color: rgb(123, 124, 124);
}

.nav-item {
  color: rgb(45,45,45);
  background-color: rgb(252, 253, 255);
  padding: 0.5rem;
  font-size: 0.7rem;
  margin: 1rem;
  line-height: 2rem;

}

.nav-item:hover, .nav-item:focus {
  color: rgb(186, 255, 246);
}

@media (max-width: 56.25em) {

  img {
    width: auto;
    height: auto;
    max-width: 40%;
  }

}

@media (max-width: 45em) {

  img {
    width: auto;
    height: auto;
    max-width: 80%;
  }

}

@media (max-width: 23.5em) {

  img {
    width: auto;
    height: auto;
    max-width: 80%;
  }

}
