// colours
$orange: rgb(255, 135, 15);
$citrus: rgb(255, 224, 184);
$redOrange: rgb(255, 64, 0);
$lightOrange: rgb(255, 145, 61);
$yellow: rgb(255, 203, 59);
$white: white;
$gray: rgb(92, 77, 61);

// fonts
$mainFont: 'Cabin';
$headingFont: 'Bitter';

// mixins
@mixin header-style {
  font-family: $headingFont;
  margin: 1rem;
}

@mixin text-style {
  line-height: 2rem;
  margin: 1rem;
}

@mixin margins {
  margin: 1rem;
  padding: 1rem;
}

@mixin noMargins {
  margin: 0;
  padding: 0;
}

// separate elements
::selection {
  background-color: $orange;
  color: $white;
}

a {
  @include text-style;
  text-decoration: none;
  color: $orange;

  &:hover {
    color: $yellow;
    // opacity: 0.85;
    transition: 0.3s;
  }
}

body {
  font-family: $mainFont;
  @include noMargins;
}

figcaption {
  @include margins;
  color: $gray;
  font-size: 0.75rem;
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, h4 {
  @include header-style;
}

h1, h2 {
  color: $redOrange;
}

h3 {
  color: $lightOrange;
}

h4 {
  color: $yellow;
}

img {
  width: 85%;
  object-fit: contain;
  @include margins;
}

p {
  @include text-style;
  max-width: 80%;

  & em {
    color: $yellow;
    font-weight: bold;
    font-style: normal;
  }

  & a {
    margin: auto;
  }
}

ul {
  @include text-style;
  list-style: none;

  & em {
    color: $yellow;
    font-weight: bold;
    font-style: normal;
  }

  & li::before {
    content: "\2022";
    color: $yellow;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
  }

}

svg, iframe,video {
  margin: 1rem;
  width: 80%;
}

blockquote {
  @include text-style;
  margin-left: 3rem;
  margin-right: 4rem;
  color: $redOrange;
}

// classes

.box {
  margin-bottom: 1rem;
}

.nav {
  @include noMargins;
  z-index: 1;
  top: 0;
  position: fixed;
  border: none;
  overflow: hidden;
  width: 100%;
  background-color: $white;

  & a {
    margin: 0;
    padding: 1rem;
    display: block;
    text-align: center;
    float: left;
    background-color: $white;
    color: $orange;
  }

  & .active {
    background-color: $orange;
    color: $white;
  }

  & a:hover {
    background-color: $yellow;
    color: $white;
  }
}

.project-container {
  display: flex;
  width: 20rem;

  & a {
    text-align: center;
    font-size: .85rem;
  }

  & img:hover{
    opacity: 0.7;
  }

  & p {
    line-height: 1rem;
  }

  & img {
    width: 12rem;
  }

  & :hover {
    transition: 0.3s;
  }
}

.gallery {
  max-width: 100%;

  & img{
    max-width: 100%;
    width: auto;
    height: 15rem;
    margin: 0;
  }
}
